/* #main_div{
    display: block;
    align-items: center;
    justify-content: center;
} */
#calc_div{
    background-color: white;
    border-radius: 6px;
    height: 285px;
    width: 385px;
    /* text-align: center; */
    padding: 32px;
    /* left: 33%; */
    position: relative;
}

.calc_main{
    width: 285px;
}

.center{
    margin-left: auto;
    margin-right: auto;
}
body {
    background-color:black;

}

h1{
    color: gray;
}

td .textTd{
    width: 45%;
}


